body,html {
    margin: 0;
    padding: 0;
    background-image: url("./sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; width: 100%;
}
* {
    box-sizing: border-box;
}

#page {
  display: flexbox;
  height: 100vh;
  grid-template-areas: "header header"
                       "main  main";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#header {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    height: 50px;
    /* border-bottom: 0.3px solid #d3d3d3; */
    overflow: auto;
    background-color: white; 
}

#logo {
    color: #08a3d9;
    float: left;
}

#header-middle {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#header-right {
    float: right;
    margin-right: 20px;
    text-align: center;
}

h1 {
    color: rgb(42, 41, 71);
    text-align: center;
}

.button {
    /* background-color: #ffffff; */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1.7px solid #000000;
    color: rgb(0, 0, 0);
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.corners {
    border-radius: 4px;
}

.button:hover {
    background-color: #4c6585; 
    color: white;
}

/*  */

.loading-spinner {
    left: 0 !important;
    top: 0 !important;
    z-index: 10000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-image: url("./sky.jpg")  !important;
    /* background-color: rgba(255, 255, 255, 0.6) !important; */
    cursor: pointer !important;
    visibility: visible !important;
    transition: visibility 0s, opacity 0.4s linear !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: wait !important;
}
.loading-spinner i.fa.fa-spinner.fa-spin, .spinner-big {
    font-size: 100px !important;
}

/*  */
#loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
  }
  
  #loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
  }
  
  #loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
  }
  
  #loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
  }
  
  #loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
  }
  
  #loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    /* background: #00ff80 none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
  }
  
  #loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    /* background: #00ffea none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
  }
  
  #loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    /* background: #00aaff none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
  }
  
  #loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    /* background: #0040ff none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
  }
  
  #loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    /* background: #2a00ff none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
  }
  
  #loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    /* background: #9500ff none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
  }
  
  #loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    /* background: magenta none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;

  }
  
  #loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
  }
  
  #loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: black none repeat scroll 0 0;
    /* background: #ff0095 none repeat scroll 0 0; */
  }
  
  #loader .loading {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
  }
  
  @keyframes load {
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  @keyframes load {
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  
  .spinner-message {
    text-align: center;
  }