
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="pagenotfound.component.css">
        <title>LinkedIn</title>
        <style>
            input.logo {
              border-radius: 10%;
            }
        </style>
    </head>
    <body>
        <div id="page">
            <main>
                <h1>Error 404</h1>
                <h3>Page not found </h3>            
            </main>
            <!-- <img src="./sky.jpg" alt="Cannot load image" width="500" height="270"> -->
        </div>
    </body>
</html>