body,html {
    margin: 0;
    padding: 0;
    background-image: url("../sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; width: 100%;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}
* {
    box-sizing: border-box;
}

#page {
  display: flexbox;
  height: 100vh;
  grid-template-areas: "header header"
                    "sidenav  main"
                    "sidenav  main"
                    "sidenav" "footer";
  grid-template-rows: 50px 1fr 30px;
  grid-template-columns: 150px 1fr;
}

#header {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    height: 55px;
    /* border-bottom: 0.3px solid #d3d3d3; */
    overflow: auto;
    /* background-color: #1b1b1b; */
}

#footer {
  /* padding-bottom: 0px; */
  /* padding-left: 10px; */
  /* height: 55px; */
  position: absolute;
  bottom: 0;
  /* border-bottom: 0.3px solid #d3d3d3; */
  overflow: auto;
  width: 83%;
  /* background-color: #1b1b1b; */
}

#logo {
    color: #08a3d9;
    float: left;
}

#header-middle {
    float: right;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#header-right {
    float: right;
    margin-right: 20px;
    text-align: center;
}

h1 {
    color: rgb(42, 41, 71);
    text-align: center;
}

.button {
    /* background-color: #ffffff; */
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1.7px solid #000000;
    color: rgb(0, 0, 0);
    padding: 7px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px;
    cursor: pointer;
    float:right;
    transition-duration: 0.4s;
}

.corners {
    border-radius: 4px;
}

.button:hover {
    background-color: #4c6585; 
    color: white;
}

.mybutton {
  background-color: #4c6585; 
  background-repeat:no-repeat;
  border: 1.7px solid #000000;
  color: rgb(0, 0, 0);
  padding: 7px 32px;
  width:20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0px 0px;
  cursor: pointer;
  float:right;
  /* width:100%; */
  transition-duration: 0.4s;
}

.corners {
  border-radius: 4px;
}

.mybutton:hover {
  background-color: rgba(37, 150, 190,0.7);
  color: white;
}


/*  */

.column {
    float: left;
  }
  
  .column.side {
    width: 13%;
    float:left;
  }
  
  .column.middle {
    width: 85%;
    float: right;
  }

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 50; 
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    overflow-x: hidden; 
    /* margin-top: 70px; */
    border: 1px solid rgba(255, 255, 255, 0.7);     
    /* padding-top: 20px; */
    margin-left: 8px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }
  
/*  */

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
  }
  
  ul li {
    border: 1px solid rgba(255, 255, 255, 0.7);     
    margin-top: -1px; 
    padding: 12px; 
  }

/*  */

.container {
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(26, 55, 119, 0.6);
    border-radius: 15px;
    padding: 1px;
    margin: 10px 0;
    color: white;
    text-align: right;
    padding: 10px;
    width: 55%;
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
  }
  
  .lighter {
    float:right;
  }

.darker {
  border: 2px solid rgba(255, 255, 255, 0.7);     
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  text-align: left ;
  float:left;
}

.container::after {
content: "";
clear: both;
display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: rgb(24, 24, 39);
  margin: 5px;
}

.time-left {
float: left;
color: #999;
margin: 5px;

}

#avatar {
  float: left;
  width: 30px;
  height: 30px;
  /* width: 100%; */
  margin-right: 6px;
  margin-left: 3px;
  margin-top: 0px;
  /* margin-bottom: 10px; */
  padding-bottom: 3px;
  border-radius: 50%;
  }

  #friendbutton{
    border: none;
    background-color: transparent;
    font-family: 'Libre Baskerville', serif;
    /* border: 1px solid rgba(255, 255, 255, 0.7);      */
    font-size: 14px;
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
    margin-left: 2px;
    cursor: pointer;
  }

  #item:hover {
    background-color: #6b86aa; 
    color: white;
}

/*  */

input[type=text], .textbar, .drop, .textarea {
  width: 70%;
  float: left;
  /* height: 25px; */
  margin: 8px 0;
  text-align: left;
  text-indent: 5px;
  font-size: 11pt;
  border-radius: 5px;
  border: solid 1.5px #D3D3D3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  box-sizing: border-box;
  padding: 10px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:hover , .textbar:hover, .drop:hover {
  box-shadow: 0 0 5pt 0.5pt #535050;
}

input[type=text]:focus, .textbar:focus, .drop:focus {
  width: 78%;
  box-shadow: 0 0 5pt 2pt rgba(255, 255, 255, 0.7);
  outline-width: 0px;
}

.greendot {
  height: 10px;
  width: 10px;
  margin-left: 4px;
  background-color: greenyellow;
  border-radius: 50%;
  display: inline-block;
}
.reddot {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}