<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="aboutus.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap" rel="stylesheet">
        <title>LinkedIn</title>
        <style>
            input.logo {
              border-radius: 10%;
            }
        </style>
    </head>
    <body>
        <router-outlet></router-outlet>
        <div id="page">
            <div id="header">
                <div id="logo">
                    <!-- <br> -->
                    <!-- &nbsp; -->
                    <form method="get" action="app/welcome" style="display: inline;">
                      <input type="image" src="../assets/turtle.png" width="120" height="46"/>
                    </form>                
                </div>
            </div> 
            <main>
                <!-- <div class="about-section">
                    <h1>About Us Page</h1>
                    <p>Some text about who we are and what we do.</p>
                    <p>Resize the browser window to see that this page is responsive by the way.</p>
                  </div>
                   -->
                  <h2 style="text-align:center">Η ομάδα μας</h2>
                  <div class="row">
                    <div class="column">
                      <div class="card">
                        <img src="../assets/tsosmi.jpg" alt="Tsos" width="400" height="400">
                        <div class="container">
                          <h2>Dimitrios Papadimas</h2>
                          <p class="title">Backend Engineer</p>
                          <p>sdi1600126@di.uoa.gr</p>
                        </div>
                      </div>
                    </div>
                  
                    <div class="column">
                      <div class="card">
                        <img src="../assets/vag.jpg" alt="Vag" width="400" height="400">
                        <div class="container">
                          <h2>Evangelos Chaniadakis</h2>
                          <p class="title">Frontend Engineer</p>
                          <p>sdi1700280@di.uoa.gr</p>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <p> Taco, Inc. is a Greek proffesional networking platform based in Athens, Attica. 
                    It was founded in 2021 by Vagelis Chaniadakis and Dimitrios Papadimas at the National and Kapodistrian University of Athens.
                  </p>
                  <!-- <br><br><br><br><br><br><br><br> -->
                  <div class="container">
                    <div style="text-align:center">
                      <h2>Επικοινωνήστε μαζί μας</h2>
                    </div>
                    <div class="contact">
                      <div class="card1">
                        <form action="app/welcome">
                          <!-- <label for="fname">Όνομα: </label> -->
                          <input type="text" id="fname" name="firstname" placeholder="Το όνομα σας..">
                          <br>
                          <!-- <label for="lname">  Επώνυμο: </label> -->
                          <input type="text" id="lname" name="lastname" placeholder="Το επώνυμο σας..">
                          <br>
                          <!-- <label for="country">   Χώρα: </label> -->
                          <select class="drop" id="country" name="country">
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Austrian Empire">Austrian Empire</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Baden">Baden</option>
                            <option value="The Bahamas">The Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Bavaria">Bavaria</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option> 
                            <option value="Bolivia">Bolivia</option>
                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                            <option value="Botswana">Botswana</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Brunei">Brunei</option>
                            <option value="Brunswick and Lüneburg">Brunswick and Lüneburg</option>
                            <option value="Bulgaria">Bulgaria</option>
                            <option value="Burkina Faso">Burkina Faso </option>
                            <option value="Burma">Burma</option>
                            <option value="Burundi">Burundi</option>
                            <option value="Cabo Verde">Cabo Verde</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Cameroon">Cameroon</option>
                            <option value="Canada">Canada</option>
                            <option value="The Cayman Islands">The Cayman Islands</option>
                            <option value="Central African Republic">Central African Republic</option>
                            <option value="Central American Federation">Central American Federation</option>
                            <option value="Chad">Chad</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="The Congo Free State">The Congo Free State</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Cote d’Ivoire">Cote d’Ivoire </option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cuba">Cuba</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czechia">Czechia</option>
                            <option value="Czechoslovakia">Czechoslovakia</option>
                            <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Djibouti">Djibouti</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="The Duchy of Parma">The Duchy of Parma</option>
                            <option value="East Germany">East Germany </option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                            <option value="Eritrea">Eritrea</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Eswatini">Eswatini</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Federal Government of Germany">Federal Government of Germany</option>
                            <option value="Fiji">Fiji</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="Gabon">Gabon</option>
                            <option value="The Gambia">The Gambia </option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="The Grand Duchy of Tuscany">The Grand Duchy of Tuscany</option> 
                            <option value="Greece">Greece</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guinea">Guinea</option>
                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Hanover">Hanover</option>
                            <option value="Hanseatic Republics">Hanseatic Republics</option>
                            <option value="Hawaii">Hawaii</option>
                            <option value="Hesse">Hesse</option>
                            <option value="Holy See">Holy See</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jordan">Jordan</option>
                            <option value="Kazakhstan">Kazakhstan</option>
                            <option value="Kenya">Kenya</option>
                            <option value="Kingdom of Serbia">Kingdom of Serbia</option>
                            <option value="Kiribati">Kiribati</option>
                            <option value="Korea">Korea</option>
                            <option value="Kosovo">Kosovo</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                            <option value="Laos">Laos</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Lesotho">Lesotho</option>
                            <option value="Lew Chew">Lew Chew</option>
                            <option value="Liberia">Liberia</option>
                            <option value="Libya">Libya</option>
                            <option value="Liechtenstein">Liechtenstein</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malawi">Malawi</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Maldives">Maldives</option>
                            <option value="Mali">Mali</option>
                            <option value="Malta">Malta</option>
                            <option value="Marshall Islands">Marshall Islands</option>
                            <option value="Mauritania">Mauritania</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mecklenburg-Schwerin">Mecklenburg-Schwerin</option>
                            <option value="Mecklenburg-Strelitz">Mecklenburg-Strelitz</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Micronesia">Micronesia</option>
                            <option value="Moldova">Moldova</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Mongolia">Mongolia</option>
                            <option value="Montenegro">Montenegro</option>
                            <option value="Morocco">Morocco</option>
                            <option value="Mozambique">Mozambique</option>
                            <option value="Namibia">Namibia</option>
                            <option value="Nassau">Nassau</option>
                            <option value="Nauru">Nauru</option>
                            <option value="Nepal">Nepal</option>
                            <option value="The Netherlands">The Netherlands</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Niger">Niger</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="North German Confederation">North German Confederation</option>
                            <option value="North German Union">North German Union</option>
                            <option value="Norway">Norway</option>
                            <option value="Oldenburg">Oldenburg</option>
                            <option value="Oman">Oman</option>
                            <option value="Orange Free State">Orange Free State</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palau">Palau</option>
                            <option value="Panama">Panama</option>
                            <option value="Papal States">Papal States</option>
                            <option value="Papua New Guinea">Papua New Guinea</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Piedmont-Sardinia">Piedmont-Sardinia</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Qatar">Qatar</option>
                            <option value="Republic of Genoa">Republic of Genoa</option>
                            <option value="Republic of Korea ">Republic of Korea </option>
                            <option value="Republic of the Congo">Republic of the Congo</option>
                            <option value="Romania">Romania</option>
                            <option value="Russia">Russia</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Lucia">Saint Lucia</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Samoa">Samoa</option>
                            <option value="San Marino">San Marino</option>
                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Schaumburg-Lippe">Schaumburg-Lippe</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Seychelles">Seychelles</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="The Solomon Islands">The Solomon Islands</option>
                            <option value="Somalia">Somalia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Sudan">South Sudan</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sudan">Sudan</option>
                            <option value="Suriname">Suriname</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Syria">Syria</option>
                            <option value="Tajikistan">Tajikistan</option>
                            <option value="Tanzania">Tanzania</option>
                            <option value="Texas">Texas</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Timor-Leste">Timor-Leste</option>
                            <option value="Togo">Togo</option>
                            <option value="Tonga">Tonga</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Tunisia">Tunisia</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Turkmenistan">Turkmenistan</option>
                            <option value="Tuvalu">Tuvalu</option>
                            <option value="Two Sicilies">Two Sicilies</option>
                            <option value="Uganda">Uganda</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="Union of Soviet Socialist Republics">Union of Soviet Socialist Republics</option>
                            <option value="The United Arab Emirates">The United Arab Emirates</option>
                            <option value="The United Kingdom">The United Kingdom</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Uzbekistan">Uzbekistan</option>
                            <option value="Vanuatu">Vanuatu</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Württemberg">Württemberg</option>
                            <option value="Yemen">Yemen</option>
                            <option value="Zambia">Zambia</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                          </select>
                          <br>
                          <!-- <label for="subject">Κείμενο: </label> -->
                          <!-- <br> -->
                          <textarea class="textbar"id="subject" name="subject" placeholder="Γράψτε κάτι.." style="height:150px"></textarea>
                          <br><br>
                          <input class="upload1" type="submit" value="Αποστολή">
                        </form>
                        <br>
                      </div>
                      <br>
                      </div>
                  </div> 
            </main>
            
        </div>
    </body>
</html>