<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="loggedin.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans&display=swap" rel="stylesheet">
        <title>LinkedIn</title>
        <style>
            input.logo {
              border-radius: 10%;
            }
        </style>
    </head>
    <body>
        <div id="page">
            <div id="header">
                <div id="logo">
                    <!-- <br> -->
                    <!-- &nbsp; -->
                    <form method="get" action="app/loggedin/start" style="display: inline;">
                        <input type="image" src="../assets/turtlelogocropped.jpg" width="140" height="56"/>
                    </form>
                </div>
                <div id="header-right">
                    <!-- <form [formGroup]="Form" (ngSubmit)="onLogout();" style="display: inline;">
                        <a (click)="onLogout();">Έξοδος</a>
                    </form> -->
                    <!-- <form (submit)="onLogout()" style="display: inline;">
                        <input class="logo" type="image" src="../../assets/login-google-account-computer-icons-user-png-favpng-ZwgqcU6LVRjJucQ9udYpX00qa-removebg-preview.png" width="35" height="35" />
                    </form>  -->
                    <div class="cldropdown">
                        <li class="dropdown dropdown-5">
                            <div class="btn">&nbsp;&nbsp; ☰ &nbsp; Πλοήγηση </div>
                            <ul class="dropdown_menu dropdown_menu-3">
                                <li class="dropdown_item-1"><a href="app/loggedin/start" >Αρχική Σελίδα</a></li>
                                <li class="dropdown_item-2"><a href="app/loggedin/network" >Δίκτυο</a></li>
                                <li class="dropdown_item-3"><a href="app/loggedin/postings">Αγγελίες</a></li>
                                <li class="dropdown_item-4"><a href="app/loggedin/chat">Συζητήσεις</a></li>
                                <li class="dropdown_item-5"><a href="app/loggedin/notifications">Ειδοποιήσεις</a></li>
                                <li class="dropdown_item-6"><a href="app/loggedin/personal-info" >Προσωπικά Στοιχεία</a></li>
                                <li class="dropdown_item-7"><a href="app/loggedin/settings">Ρυθμίσεις</a></li>
                                <li class="dropdown_item-8"><a (click)="onLogout();" >Έξοδος</a></li> 
                                <li class="dropdown_item-9"> </li>   
                            </ul>
                        </li>
                    </div>
                    <!-- <div class="dropdown">
                        <button class="dropbtn" > ☰  Πλοήγηση </button>
                        <div class="dropdown-content" >
                                <a href="app/loggedin/start" class="dropitem">Αρχική Σελίδα</a>&nbsp;
                            
                                <a href="app/loggedin/network" type="submit"class="dropitem">Δίκτυο</a>&nbsp;
                           
                                <a href="app/loggedin/postings" class="dropitem">Αγγελίες</a>&nbsp;
                            
                                <a href="app/loggedin/chat" class="dropitem">Συζητήσεις</a>&nbsp;
                            
                                <a href="app/loggedin/notifications" class="dropitem">Ειδοποιήσεις</a>&nbsp;
                            
                                <a href="app/loggedin/personal-info" class="dropitem">Προσωπικά Στοιχεία</a>&nbsp;
                            
                                <a href="app/loggedin/settings" class="dropitem">Ρυθμίσεις</a>
            
                                <a (click)="onLogout();" class="dropitem">Έξοδος</a>
                        </div>
                    </div> -->
                </div>
                <!-- <div id="header-middle">                   -->
                    
                    <!-- <form method="get" action="app/loggedin/settings" style="display: inline;">
                        <a>Ρυθμίσεις</a>
                    </form> -->
                <!-- </div> -->
            </div> 
                <router-outlet></router-outlet>
            <main>
                <!-- <mat-drawer-container class="example-container">
                    <mat-drawer #drawer [mode]="mode.value">
                            <a href="app/loggedin/start" style="display: inline;">Αρχική Σελίδα</a>&nbsp;
                        
                            <a href="app/loggedin/network" style="display: inline;" type="submit">Δίκτυο</a>&nbsp;
                       
                            <a href="app/loggedin/postings" style="display: inline;">Αγγελίες</a>&nbsp;
                        
                            <a href="app/loggedin/chat" style="display: inline;">Συζητήσεις</a>&nbsp;
                      
                            <a href="app/loggedin/notifications" style="display: inline;">Ειδοποιήσεις</a>&nbsp;
                        
                            <a href="app/loggedin/personal-info" style="display: inline;">Προσωπικά Στοιχεία</a>&nbsp;
                       
                            <a href="app/loggedin/settings" style="display: inline;">Ρυθμίσεις</a>
                    </mat-drawer>
                    <mat-drawer-content>
                        <mat-select #mode value="push"></mat-select>
                        <button mat-raised-button (click)="drawer.toggle()"  style="float: right;">☰</button> 
                    </mat-drawer-content>
                </mat-drawer-container> -->
                
            </main>    
        </div>
    </body>
</html>